* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bold {
  font-weight: bold;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Eksempler */
div {
  height: 200px;
  width: 200px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
